
/*End Banner & Begin Menu */
#TabMenu ul {
	padding-bottom:20px;
	float:right;
	margin: 0;
	padding: 0;
	border: 0;
	width:100%;
/* This is to right-justify the content */
	padding: 0;
	margin: 0;
	list-style: none;
  
	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: flex-end; 
	justify-content: flex-end; 
	background-color: transparent;
}
#TabMenu li {
	border: 2px solid;
	border-top-left-radius: 2em;
	border-top-right-radius: 0.35em;
	border-bottom:0;
	list-style-type: none;
	display: inline;
	margin: 0px 0px 0px 0px;
}
#TabMenu li a {
	text-decoration: none;
	margin-left:8px;
	margin-top:3px;
	color: inherit;
}
#TabMenu hr {
	border:0;
	height: 1px;
	width: 100%;
	text-align: center;
	margin-top: 23px;
}