/* Style/Theme: ClassicIce*/
/* Date Generated: 2015-05-24 01:55:34*/
body {
	background: -moz-linear-gradient(transparent 0%, transparent 480px);
	background: -webkit-linear-gradient(transparent 0%,transparent 480px);
	background: -o-linear-gradient(transparent 0%,transparent 480px);
	background: -ms-linear-gradient(transparent 0%,transparent 480px);
	background: linear-gradient(transparent 0%,transparent 480px);
	background-repeat: no-repeat;
	background-color: rgb(255, 255, 255);
}
#container {
	background: transparent;
	box-shadow: 0 0 6px transparent;
	-moz-box-shadow: 0 0 6px transparent;
	-webkit-box-shadow: 0 0 6px transparent;
}#banner h1 {
	color:rgb(0, 152, 212);
}
#banner h2 {
	color:rgb(119, 119, 119);
}
#TabMenu hr {
	color:rgb(205, 205, 205);
	background-color:rgb(205, 205, 205);
}
#TabMenu ul.mainmenu {
	border-bottom: thin solid rgb(205, 205, 205);
}
#TabMenu ul li.menuitem {
	background-color: rgb(249, 249, 249);
	border-color: rgb(205, 205, 205);
	color: rgb(0, 152, 212);
}
#TabMenu ul li.menuitem.active {
	background-color: rgb(255, 255, 255);
	border-color: rgb(205, 205, 205);
	color: rgb(0, 152, 212);
}
#TabMenu ul li.menuitem:hover {
	background-color: rgb(249, 249, 249);
	border-color: rgb(0, 152, 212);
	color: rgb(0, 152, 212);
}#left {
	color:transparent;
}
#leftcontent ul.sidemenu {
	color:rgb(119, 119, 119);
	background-color: transparent;
}
#leftcontent a {
	color:rgb(0, 152, 212);
}
#leftcontent a:hover {
	color:rgb(0, 152, 212);
}
#leftcontent b {
	color:rgb(84, 143, 167);
}
#leftcontent b:hover {
	color:rgb(84, 143, 167);
}
/*#leftcontent p{
	color:transparent;
	background-color:transparent;
}
leftcontent h3.news {
	color:rgb(0, 152, 212);
	background-color:rgb(249, 249, 249);
	border-color:rgb(170, 170, 170);
}
#leftcontent p.news {
	color:#999999;
	border-color:#AAAAAA;
	background-color:#FFFFFF;
}*/
#main {
	border-left: thin solid rgb(205, 205, 205)}
#main h3 {
	color:rgb(0, 152, 212);
	background-color:rgb(249, 249, 249);
	border-color:rgb(170, 170, 170);
}
#maincontent p.end, form.end, ul.end, p.last, form.last, ul.last {
	border-color:rgb(170, 170, 170);
}
#maincontent p, form, ul {
	color:rgb(85, 85, 85);
	background-color:transparent;
	border-color:rgb(170, 170, 170);
}

#maincontent a {
	color:rgb(21, 0, 255);
}
#maincontent a:hover {
	color:rgb(21, 0, 255);
}
#footer hr {
	color:rgb(205, 205, 205);
	background-color:rgb(205, 205, 205);
}
#footer a {
	color:;
}
#footer img{
    height: 15px;
}
#footer img:hover{
    height: 18px;
}
.right {
	color:rgb(85, 85, 85);
}
.left {
	color:rgb(85, 85, 85);
}