/* Style/Theme: NewLuna */
body {
	background: -moz-linear-gradient(#22356C 0%, #051B3D 480px);
	background: -webkit-linear-gradient(#22356C 0%,#051B3D 480px);
	background: -o-linear-gradient(#22356C 0%,#051B3D 480px);
	background: -ms-linear-gradient(#22356C 0%,#051B3D 480px);
	background: linear-gradient(#22356C 0%,#051B3D 480px);
	background-repeat: no-repeat;
	background-color: #051B3D;
}
#container {
	background: #2B3C78;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

#banner hr {
	color:#5B7EC4;
	background-color:#5B7EC4;
}
#banner h1 {
	color:#15AC9B;
}
#banner h2 {
	color:#0B6081;
}
#banner li {
	background-color: #98bf21;
}
 
#banner li a {
	color: #FFFFFF;
	background-color: #98bf21;
}
 
#banner li a.active, #banner a:hover {
	background-color: #7A991A;
	color: #D9CD60;
}#left {
	color:rgba(0,0,0,0);
}
#leftcontent ul.sidemenu {
	color:#15AC9B;
	background-color: rgba(0,0,0,0);
}
#leftcontent a {
	color:#15AC9B;
}
#leftcontent a:hover {
	color:#0B6081;
}
#leftcontent b {
	color:#0B6081;
}
#leftcontent b:hover {
	color:#15AC9B;
}
/*#leftcontent p{
	color:rgba(0,0,0,0);
	background-color:rgba(0,0,0,0);
}
leftcontent h3.news {
	color:#595CAB;
	background-color:#58D2BC;
	border-color:#5B7EC4;
}
#leftcontent p.news {
	color:#999999;
	border-color:#AAAAAA;
	background-color:#FFFFFF;
}*/
#main {
	border-left: thin solid #5B7EC4}
#main h3 {
	color:#595CAB;
	background-color:#58D2BC;
	border-color:#5B7EC4;
}
#maincontent p.end, form.end, ul.end, p.last, form.last, ul.last {
	border-color:#5B7EC4;
}
#maincontent p, form, ul {
	color:#040318;
	background-color:#88D9E1;
	border-color:#5B7EC4;
}

#maincontent a {
	color:#1549AE;
}
#maincontent a:hover {
	color:#6543C3;
}
#footer hr {
	color:rgba(0,0,0,0);
	background-color:rgba(0,0,0,0);
}
#footer a {
	color:#7C7DD6;
}
#footer img{
    height: 18px;
}
#footer img:hover{
    height: 20px;
}
.right {
	color:#7C7DD6;
}
.left {
	color:#7C7DD6;
}
