/* Style/Theme: Twilight*/
/* Date Generated: 2015-05-24 01:56:33*/
body {
	background: -moz-linear-gradient(#AD70C4 0%, #BC90CC 480px);
	background: -webkit-linear-gradient(#AD70C4 0%,#BC90CC 480px);
	background: -o-linear-gradient(#AD70C4 0%,#BC90CC 480px);
	background: -ms-linear-gradient(#AD70C4 0%,#BC90CC 480px);
	background: linear-gradient(#AD70C4 0%,#BC90CC 480px);
	background-repeat: no-repeat;
	background-color: #BC90CC;
}
#container {
	background: #D7A3E7;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}#banner h1 {
	color:#E33997;
}
#banner h2 {
	color:#33437D;
}
#TabMenu hr {
	color:#E33C96;
	background-color:#E33C96;
}
#TabMenu ul.mainmenu {
	border-bottom: thin solid #E33C96;
}
#TabMenu ul li.menuitem {
	background-color: ##270a4a;
	border-color: #9761af;
	color: #7030BF;
}
#TabMenu ul li.menuitem.active {
	background-color: #d7a3E7;
	border-color: #e33997;
	color: #7030BF;
}
#TabMenu ul li.menuitem:hover {
	background-color: rgb(51, 67, 125);
	border-color: rgb(39, 10, 74);
	color: #e33997;
}#left {
	color:transparent;
}
#leftcontent ul.sidemenu {
	color:#1F2B55;
	background-color: transparent;
}
#leftcontent a {
	color:#33437D;
}
#leftcontent a:hover {
	color:#1F2B55;
}
#leftcontent b {
	color:#6E2A93;
}
#leftcontent b:hover {
	color:#6E2A93;
}
/*#leftcontent p{
	color:transparent;
	background-color:transparent;
}
leftcontent h3.news {
	color:#270A4A;
	background-color:#9761AF;
	border-color:#E33C96;
}
#leftcontent p.news {
	color:#999999;
	border-color:#AAAAAA;
	background-color:#FFFFFF;
}*/
#main {
	border-left: thin solid #E33C96}
#main h3 {
	color:#270A4A;
	background-color:#9761AF;
	border-color:#E33C96;
}
#maincontent p.end, form.end, ul.end, p.last, form.last, ul.last {
	border-color:#E33C96;
}
#maincontent p, form, ul {
	color:#7030BF;
	background-color:#D4BADC;
	border-color:#E33C96;
}

#maincontent a {
	color:#6E2A93;
}
#maincontent a:hover {
	color:#6E2A93;
}
#footer hr {
	color:transparent;
	background-color:transparent;
}
#footer a {
	color:#FFFFFF;
}
#footer img{
    height: 18px;
}
#footer img:hover{
    height: 20px;
}
.right {
	color:#FFFFFF;
}
.left {
	color:#FFFFFF;
}